@import 'mixins';

.searchHeader {
	display: grid;
	width: 100%;
	max-width: 1000px;

	grid-auto-rows: min-content;
	.container {
		display: grid;
		padding: 20px;
		border-radius: 8px;
		background-color: white;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 220px 100px 50px;
		margin-bottom: 20px;

		.searchInfo {
			display: flex;
			flex-direction: column;
			justify-self: start;

			.searchTitle {
				margin-top: 10px;
				font-weight: 700;
				font-size: 34px;
			}
		}

		.searchStats {
			grid-column: 1/3;
			.cont {
				display: flex;
				.countPosts {
					color: #000000;
					margin-right: 15px;
					font-weight: bold;
				}
				.subs {
				}
			}
			.description {
			}
		}
		.tabsBlock {
			display: flex;
			font-size: 16px;
			grid-column: 1/3;
		}
	}

	.contentBlock {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;

		.texts {
			display: flex;
			flex-direction: column;
			max-width: 640px;
		}

		@include mq(991) {
			grid-template-columns: 1fr;

			.texts {
				order: 2;
				max-width: 100%;
			}
		}
	}
}
