.postComments {
	display: grid;
	margin-top: 20px;
	grid-template-columns: 1fr;
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	max-width: 640px;
	.container {
		display: grid;
		flex-direction: column;
		.title {
			font-size: 18px;
			margin: 0;
		}
		.tabsBlock {
			display: flex;
		}
		.formInputBlock {
			display: flex;
			width: 100%;
		}
		.commentsBlock {
			display: flex;
			flex-direction: column;
		}
	} 
	.container.auth{
		grid-template-rows: 50px 50px minmax(100px, 200px) 1fr;
	}
	.container.notAuth{
		grid-template-rows: 50px 50px 1fr;
	}
}
