.defaultAvatars {
	display: grid;
	margin-bottom: 10px;
	grid-template-columns: repeat(auto-fill, 100px);
	row-gap: 10px;
	column-gap: 10px;
	width: 100%;
	.imageContainer {
		&:nth-child(1) {
			margin-left: 0;
		}
		display: flex;
		cursor: pointer;
		img {
			border-radius: 8px;
		}
	}
}
